.h2{
    color:white !important;
    text-align: center;
}
.body{
    background-color:#143A85;
}
.logo{
    height:100px;
    width:100px;
}
.c{
    text-align: center;
}
.submit-button{
        background-color: #FF8C00 !important;
        color:white;
}
.p{
    color:white;
    font-size: 15px;
}
